<!--View associated to index action of Main controller -->



<div class="ui container page-container">
    <div id="page-container">
        <div class="ui inverted segment">
            <form id="frm-login" class="ui inverted form" name="frm-login" method="post" action="">
                <h4 class="ui header inverted dividing">Connexion</h4>
                <div class="two fields">
                    <div class="field required">
                        <label for="email">Email</label>
                        <div class="ui input">
                            <input id="email" name="email" type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="field required">
                        <label for="password">Mot de passe</label>
                        <div class="ui input">
                            <input id="password" name="password" type="password">
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <div class="ui checkbox">
                            <input id="ck-remember" name="ck-remember" value="1" type="checkbox" placeholder="Remember" tabindex="0" class="hidden">
                            <label for="ck-remember">Se souvenir de moi</label>
                        </div>
                    </div>
                </div>
                <button class="ui button fluid olive ajax _connect">Se connecter à l'application</button>
                <div class="ui inverted divider">Connexions directes</div>
                <br>


            </form>
        </div>
        <h1 class="ui center aligned icon header inverted disabled">
            <i class="huge circular sticky users icon"></i>
            Groups
        </h1>
    </div>
</div>






